@use "../../styles/fonts" as *;
@use "../../styles/global" as *;
@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.saved-reviews {
  background: url("../../assets/images/Feuille\ Fable\ Hero\ Saved\ Review\ Page.svg");
  background-size: cover;
  background-position: center center;
  height: 40vh;
  border-top: 1px solid $light-brown;

  &__title {
    @include tablet {
      height: 50vh;
    }
  }

  &__section-wrapper {
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: column;
      flex-wrap: wrap;
    }
  }

  &__section-wrapper {
    display: flex;
    padding: 2rem;
  }

  &__review-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 25rem;
    padding: 3rem 1rem;
    border-radius: 4px;
    background-color: var(--white-color);
    box-shadow: rgba(0, 0, 0, 0.05) 0px 5px 15px 0px;
    transition: var(--transition);

    @include tablet {
      display: flex;
      justify-content: flex-start;
      padding: 3rem 3rem;
      width: 100vw;
    }
  }

  &__image {
    height: 100px;
    width: 70px;
  }

  &__title-author-wrapper {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  &__book-title {
    @include tablet {
      font-size: 2rem;
    }
  }

  &__book-author {
    @include tablet {
      font-size: 1rem;
    }
  }

  &__text-rating-wrapper {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
}

// display: flex;
// justify-content: center;
// padding: 2rem;
// background-color: $dusty-blue;
// color: white;
// height: 6rem;
