//color scheme
$dark-brown: #745e4d;
$light-brown: #a17a60;
$lighter-brown: #c7a894;
$beige: #faddc2;
$off-white: #f8f7f4;
$light-pink: #dabcba;
$lighter-pink: #ffe1d9;
$dark-pink: #d18e8b;
$dusty-blue: #9fb9c6;
$purple: #bc89de;
$dark-purple: #9447c7;
