@use "../../styles/fonts" as *;
@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;
@use "../../styles/global.scss" as *;

.search {
  display: flex;
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    //   width: 600px;

    &__input-wrapper {
      display: flex;
      justify-content: center;
      width: 50vw;
    }

    &__input {
      padding: 0.5rem;
    }

    &__button-wrapper {
      display: flex;
      justify-content: center;
      padding: 2rem;
    }

    &__button {
      all: unset;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      color: white;
      background-color: $dark-pink;
      width: 50vw;
      height: 5vh;
      border-radius: 5px;
    }
  }
}
