@use "../../styles/fonts" as *;
@use "../../styles/global" as *;
@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;

.bookreview {
  display: flex;
  flex-direction: column;

  &__title {
    display: flex;
    background: url("../../assets/images/feuille-fable-hero-book-entry.svg");
    background-size: cover;
    background-position: center center;
    height: 50vh;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    background-color: $off-white;
    padding: 1rem;

    @include tablet {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 2rem;
    }
  }

  &__img-details-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  &__book-details {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  &__form {
    padding: 1rem;
  }
}
