@use "../../styles/fonts" as *;
@use "../../styles/mixins" as *;
@use "../../styles/variables" as *;
@use "../../styles/global.scss" as *;

.home-search {
  &__wrapper {
    background: url("../../assets/images/fable-hero-final.svg");
    background-size: cover;
    background-position: center center;
    height: 50vh;
    margin: 0;
    padding: 0;
    border: 0;
  }

  &__subtitle {
    display: flex;
    justify-content: center;
    padding: 2rem;
    background-color: $dusty-blue;
    color: white;
    height: 6rem;
  }

  &__results-wrapper {
    display: flex;
  }
}
